.splash {
  color:#537979;
  font-family: arial, helvetica, sans-serif;
}

body{
  background-color:#d1e0e0
}

.diamond {
     width: 0;
     height: 0;
     border: 100px solid transparent;
     border-bottom-color: black;
     position: relative;
     top: -100px;
   }

.diamond:after {
     content: '';
     position: absolute;
     left: -100px;
     top: 100px;
     width: 0;
     height: 0;
     border: 100px solid transparent;
     border-top-color: red;
   }
.hw {
  position:absolute;
  top:50px;
  left: 500px;
}
