.splash {
  color:#537979;
  font-family: arial, helvetica, sans-serif;
}

body{
  background-color:#d1e0e0
}

.diamond {
     width: 0;
     height: 0;
     border: 50px solid transparent;
     border-bottom-color: red;
     position: relative;
     top: -50px;
   }

.diamond:after {
     content: '';
     position: absolute;
     left: -50px;
     top: 50px;
     width: 0;
     height: 0;
     border: 50px solid transparent;
     border-top-color: red;
   }
